<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
</body>
<h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:brown"><i>SportifyUnited</i> </h1>
  <h1 style="color:blueviolet">The Certificate is rewarded to</h1>
  <h1 style="margin-left: 40px;"><strong><u><%= recipientName %></u></strong></h1>
  <br>
  <h3 style="text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><i>For their exemplary performance this season as a <br> member of the team during the  competitive league.</i></h3>
  <h3 style="margin-top: 100px;">Dated: <u><%= new Date().toLocaleDateString() %></u></h3>
  
  <!-- <h3 style="margin-left: 890px;"><i>Signature of t</i></h3> -->
</body>
</html>
