<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certification</title>
</head>
<style>
    body{
        background-image: url("https://image.slidesdocs.com/responsive-images/slides/0-minimalist-grass-green-small-business-powerpoint-background_c3572eb7bc__960_540.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    form{
        margin-top: 50px;
        margin-left: 150px;
    }
</style>
<body>
  <h1 style="text-align: center;margin-top: 50px;">Get your Certificate Generated for</h1>
  <h1 style="text-align: center;color:brown;font-size:xx-large;">SportifyUnited</h1>

  <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30161640/1329-768x591.png"  style="width:250px;height:250px; margin-left: 500px;">

  <form action="/generate" method="post">
    <h1><label for="recipientName">Recipient's Name:</label></h1>
    <input type="text"  style="width:250px;height:50px;" id="recipientName" name="recipientName" required>
    <button type="submit" style="background-color:tomato;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><h3>Generate Certificate</h3></button>
  </form>
</body>
</html>
